<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeexy.example.dao.CustomerDao">
    <insert id="addCustomer">
        insert into customer(delete_status,customer_name,customer_phone_number,customer_balance,customer_id)
        values (1,#{customer},#{customerPhoneName},0,#{userId})
    </insert>
    <select id="checkSingleName" resultType="com.alibaba.fastjson.JSONObject">
        select customer_name from customer
    </select>
</mapper>