<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeexy.example.dao.OrderDao">

    <select id="selectCustomerAddress" resultType="com.alibaba.fastjson.JSONObject">
        select customer_name customerName,customer_address customerAddress,
        customer_phone_number customerPhoneNumber
        from customer_address
        where customer_id=#{userId} and default_address=1
    </select>

    <insert id="createOrder">
        insert into
        submit_order(delete_status,order_uuid,pictureUrl,order_goods_name,
        order_goods_price,order_goods_style,order_purchase_numbers,subtotal,
        business_id,customer_comment,customer_id)
        values
        (1,#{orderNumbers},#{pictureUrl},#{goodsName},#{goodsPrice},#{goodsStyle},
        #{purchaseNumbers},#{subtotal},#{businessId},#{customerComment},#{customerId})
    </insert>
    <insert id="createOrderList">
        insert into
        order_list(delete_status,order_uuid,order_status,payment_way,refund_order_status,business_id,
        customer_address,customer_phone_number,customer_name,total_price,customer_id)
        values
        (1,#{orderNumbers},1,#{paymentWay},0,#{businessId},#{customerAddress},
        #{customerPhoneNumber},#{customerName},#{totalPrice},#{customerId})
    </insert>

    <select id="selectCustomerInformation" resultType="com.alibaba.fastjson.JSONObject">
        select id,customer_name customerName,customer_address customerAddress,customer_phone_number
        customerPhoneNumber,default_address defaultAddress
        from customer_address where customer_id=#{userId}
        <if test="addressNumbers!=null">
            and id=#{addressNumbers}
        </if>
        order by default_address
    </select>
    <select id="selectBusinessId" resultType="java.lang.String">
        select business_id businessId from goods_manage where id=#{goodsId}
    </select>

    <insert id="submitPaymentWay">
        insert into payment_way,customer_comment values (#{paymentWay},#{customerComment}) where order_uuid=#{orderNumbers}
    </insert>

    <select id="singleOrder" resultType="com.alibaba.fastjson.JSONObject">
        select
        date_format(a.created_time, '%Y-%m-%d %H:%i:%s') createdTime,
        b.order_status orderStatus,
        a.pictureUrl,
        a.order_goods_name goodsName,
        a.order_goods_price goodsPrice,
        a.order_goods_style goodsStyle,
        b.payment_way paymentWay,
        a.customer_id customerId,
        a.order_purchase_numbers purchaseNumbers,
        a.subtotal,
        a.business_id businessId,
        b.customer_address customerAddress,
        b.customer_phone_number customerPhoneNumber,
        b.customer_name customerName,
        a.customer_comment customerComment,
        b.customer_id customerId,
        b.total_price totalPrice
        from submit_order a left join order_list b
        ON
        a.order_uuid=b.order_uuid
        where
        a.order_uuid=#{0} and a.delete_status=1
    </select>
    <select id="orderCount" resultType="java.lang.Integer">
        select count(*) from order_list where business_id=#{userId} and delete_status=1
    </select>
    <select id="orderList" resultType="com.alibaba.fastjson.JSONObject">
        select
        date_format(created_time, '%Y-%m-%d %H:%i:%s') createdTime,
        order_uuid               orderUuid,
        order_status             orderStatus,
        payment_way              paymentWay,
        refund_order_status      refundOrderStatus,
        customer_name            customerName,
        business_id              businessId,
        customer_address         customerAddress,
        customer_phone_number    customerPhoneNumber,
        total_price              totalPrice
        from
        order_list
        where
        business_id=#{userId}
        and
        delete_status=1
        order by
        created_time
        desc
        LIMIT #{offSet}, #{pageRow}
    </select>
    <select id="orderSelectBusinessId" resultType="java.lang.String">
        select business_id businessId from order_list where delete_status=1 and order_uuid=#{orderNumbers}
    </select>
    <select id="singleOrderCount" resultType="java.lang.Integer">
        select
        count(1)
        from
        order_list
        where
        delete_status=1
        and
        business_id=#{userId}
    </select>
</mapper>